
.navigation {
	background-color: $accentDark;
	height: $navbarHeightMobile;

	@include breakpoint(tablet) {
		min-height: $navbarHeightMobile;
	}

	.hamburger-icon {
		margin-left: 100%;
		transform: translate(-100%);
		width: 70px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100%;

		@include breakpoint(tablet) {
			display: none;
		}
	}

	.hamburger-icon__hamburger-bars {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.hamburger-bars--single {
		margin-top: 2.5px;
		margin-bottom: 2.5px;
		position: relative;
		width: 50px;
		height: 10px;
		background-color: $grey;
	}

	.navigation__links {
		background-color: $accentDark;
		position: absolute;
		display: none;
		flex-direction: column;
		width: 80%;
		margin-left: 20%;
		text-align: right;
		font-size: 1.5rem;
		margin-top: $navbarHeightMobile;
	}

	.navigation__links--link {
		margin-bottom: 10px;
		border-top: 3px solid $grey;
		padding-top: 10px;
		padding-right: 10px;
	}
	
	@include breakpoint(tablet) {
		height: $navbarHeightMobile;

		.navigation__links {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			margin: 0;
		}		

		.navigation__links--link {
			margin: none;
			padding: 20px;
			border: none;
		}
	}

	@include breakpoint(desktop) {
		.navigation__links {
			font-size: 1.5rem;
		}

		.navigation__links--link {
			padding: none;
		}
	}
}


.hero {
	font-family: "Times New Roman";
	background-color: white;
	padding-bottom: 10vw;
	padding-top: 0vw;
	border-bottom: 3px solid $accentDark;
	border-top: 3px solid $grey;

	.hero__bg {
		background-image: url('../img/burrito.jpg');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: bottom center;
		width: 100%;
		height: 200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.hero__copy {
		color: $accentDark;
		font-size: 15vw;
		transform: translateY(8vw);
	}

	@include breakpoint(tablet) {
		.hero__bg {
			height: 350px;
		}

		.hero__copy {
			font-size: 10vw;
		}
	}
}

.pitch {
	font-weight: 200;
	width: 100%;
	padding: 3vw;
	text-align: center;

	.pitch__header {
		padding: 1vw;
		width: 80%;
		padding-bottom: 2.5vw;
		margin: 0 auto;
		border-bottom: 2px solid $textColor;
		margin-bottom: 2vw;
		font-size: 10vw;
	}

	.pitch__copy {
		line-height: 6.5vw;
		font-size: 6vw;
		font-style: italic;
	}

	@include breakpoint(tablet) {
		.pitch__header {
			width: 55%;
			margin-bottom: 2vw;
			font-size: 5vw;
			padding-bottom: 1vw;
		}

		.pitch__copy {
			font-weight: 100;
			font-size: 3vw;
			letter-spacing: 0.10vw;
			line-height: 3.5vw;
		}
	}
}

.more-details {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: $mainBGColor;

	.more-details__details-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		margin: 30px;
		margin-bottom: 10vw;
		width: 75%;
		background-color: $grey;
		border-radius: 10px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.more-details__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 170px;
		width: 170px;
		border-radius: 50%;
		background-color: $grey;
		border: 4px solid $textColor;
		margin-bottom: 10px;


		&:hover {
			.more-details__icon__title {
				display: initial;
			}
		}
	}

	.more-details__icon__title {
		display: none;
		color: $mainBGColor;
		font-family: "Times New Roman";
		font-size: 45px;
		transform: rotate(-30deg);
	}

	.more-details__header {
		font-size: 7.5vw;
		line-height: 8vw;
		margin-bottom: 2vw;
	}

	.more-details__copy {
		font-weight: 200;
		max-width: 80%;

	}

	@include breakpoint(tablet) {
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		padding: 8px;

		.more-details__details-container {
			margin: 8px;
		}


	}

}



